{% extends "base.html" %}
{% block title %}Посты избранных авторов{% endblock %}
{% block content %}
    <div class="container">
        {% include "menu.html" with follow=True %}
        <h1>Посты избранных авторов</h1>
            {% for post in page %}
                {% include "post_item.html" with post=post add_comment=True %}
                {% if not forloop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
    </div>

    {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator %}
    {% endif %}
{% endblock %}
